ion-menu {
    ion-content {
      .profile-image {
        margin-top: 30px;
        display: block;
        width: 40%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
      }
  
      ion-item-divider {
        height: 5px;
        min-height: 5px;
      }
    }
  }